import(methods)
import(Biobase)

importFrom(utils, read.delim)
importFrom(stats, na.omit)
importFrom(RSQLite, SQLite, dbConnect, dbWriteTable, dbDisconnect)

importClassesFrom(AnnotationDbi, AnnotationDb)

importMethodsFrom(DBI, dbGetQuery)
importMethodsFrom(AnnotationDbi, columns, keytypes, keys, select,
    dbconn, dbfile, dbschema, dbInfo, species)

export(makeLRBasePackage)
export(LRBaseDb)

exportClasses(LRBaseDb)

exportMethods(columns, keytypes, keys, select, dbconn, dbfile, dbschema,
    dbInfo, species, packageName, nomenclature, listDatabases, lrVersion)
