import(methods)
import(Biobase)

importClassesFrom(AnnotationDbi, AnnotationDb)

importFrom(utils, read.delim)
importFrom(stats, na.omit)
importFrom(RSQLite, SQLite, dbConnect, dbWriteTable, dbDisconnect)

importMethodsFrom(DBI, dbGetQuery)
importMethodsFrom(AnnotationDbi, columns, keytypes, keys, select,
    dbconn, dbfile, dbschema, dbInfo, species)

export(LRBaseDb)

exportClasses(LRBaseDb)

exportMethods(columns, keytypes, keys, select, dbconn, dbfile, dbschema,
    dbInfo, species, lrNomenclature, lrListDatabases, lrVersion)
